html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --lightPink: rgb(243, 199, 166);
  --black: rgb(31, 31, 31);
  --beige: rgb(218, 124, 76);
  --silverWhite: rgb(248, 248, 248);
  --VeryDarkGray: rgb(115, 111, 110);
  --darkGray: rgb(146, 147, 148);
  --lightGray: rgb(185, 178, 174);
  --veryLightGray: rgb(195, 195, 195);
  --bluishGray: rgb(100, 116, 116);
  --bluishPurple: rgb(100, 108, 124);
  --white: rgb(255, 255, 255);
  --red: rgb(219, 27, 27);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

#root {
  height: 100%;
  position: relatives;
}

img {
  display: block;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

/*
  PRODUCT CATEGORY CARDS
*/

.card {
  background-color: var(--silverWhite);
  text-align: center;
  position: relative;
  margin: 5em 2em;
  padding: 6.5em 0 0 0;
}

.card-img-container {
  width: 301px;
  margin: 0 auto;
  position: absolute;
  top: -88px;
  left: 0;
  right: 0;
}

.card-img {
  width: 100%;
}

.card-title {
  text-transform: uppercase;
  display: block;
  color: var(--black);
  font-weight: 700;
}

.card-link {
  color: var(--darkGray);
  font-weight: 700;
  font-family: inherit;
  position: relative;
  display: block;
}
/*
.card-link::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-width: 4px 4px 0 0;
  border-color: var(--beige);
  border-style: solid;
  border-radius: 3px 4px 3px 10px;
  transform: rotate(45deg);
  top: 5px;
  right: 0;
}
*/
